%section#menu
  %h2 Menu
  %section#menu-list
    %ul
      %li
        %figure
          = image_tag 'menu_shokupan.jpg'
          %figcaption
            山型食パン
            700円 *
      %li
        %figure
          = image_tag 'menu_campagne.jpg'
          %figcaption
            カンパーニュ (プレーン)
            600円 *
            %br
            カンパーニュ (チーズ入り)
            700円 *
      %li
        %figure
          = image_tag 'menu_baguette.jpg'
          %figcaption
            バゲット
            350円
      %li
        %figure
          = image_tag 'menu_bagel.jpg'
          %figcaption
            ベーグル
            200円
      %li
        %figure
          = image_tag 'menu_pastry.jpg'
          %figcaption
            菓子パン
            150円
  %section#menu-note
    %ul
      %li
        * ハーフサイズはそれぞれ半額です。
      %li
        営業日ごとにバリエーションが変わります。その日のメニューはFacebookページでお知らせしています。
        = fb_link
