- content_for :title do
  Menu

%section#menu
  %h2 Menu
  %section#menu-list
    %ul
      %li
        %figure
          = image_tag 'pages/menu/shokupan.jpg'
          %figcaption 山型食パン 700円
      %li
        %figure
          = image_tag 'pages/menu/campagne.jpg'
          %figcaption
            カンパーニュ (プレーン) 600円
            %br
            カンパーニュ (フィリング入り) 700円
      %li
        %figure
          = image_tag 'pages/menu/baguette.jpg'
          %figcaption バゲット 350円
      %li
        %figure
          = image_tag 'pages/menu/bagel.jpg'
          %figcaption ベーグル 200円
      %li
        %figure
          = image_tag 'pages/menu/pastry.jpg'
          %figcaption 菓子パン 150円
      %li
        %figure
          = image_tag 'pages/menu/croissant.jpg'
          %figcaption クロワッサン(冬期限定) 200円
  %section#menu-note
    営業日ごとにバリエーションが変わります。その日のメニューはFacebookページでお知らせしています。
    = fb_link
