%section#information
  %h2 Information
  #primary
    #primary-image= image_tag 'informations/primary.jpg'
    %dl.primary-content
      - if blog_info = BlogInfo.first
        %dt 最新ブログ
        %dd= link_to "#{blog_info.title} (#{l blog_info.published_at})", blog_info.url

      %dt Facebookページが便利です！
      %dd
        「いいね!」ボタンを押していただくと、営業日の商品情報やパンの売れ行き等をお知らせします！ ☞
        = fb_icon
      %dt Open
      %dd
        金・土 10:00 &#xFF5E; Sold out
        %address Tel 0795-27-7032
