%h2 送信が完了しました
%p 折り返しご連絡させていただきますので、しばらくお待ちください。
%p 返信まで2〜3日かかる場合があります。
%p 返信がない場合、メールアドレスに間違いがないか、PCメールの受信拒否設定が解除されているかどうかをご確認の上、再度ご連絡ください。
%h3 [送信内容]
#inputform
  %dl
    %dt= Inquiry.human_attribute_name 'name'
    %dd= @inquiry.name
    %dt= Inquiry.human_attribute_name 'email'
    %dd= @inquiry.email
    %dt= Inquiry.human_attribute_name 'tel'
    %dd= @inquiry.tel.empty? ? '(未入力)' : @inquiry.tel
    %dt= Inquiry.human_attribute_name 'text'
    %dd= simple_format @inquiry.text
