%section.primary-content
  = form_for @inquiry, url: inquiry_path do |form|
    %p ご質問やご要望がある方は以下のフォームからお尋ねください。
    - if @inquiry.errors.any?
      %p#error_explanation 未入力の項目があります。
      %ul
        - @inquiry.errors.full_messages.each do |msg|
          %li= msg
    #input-form
      %dl
        %dt
          = form.label :name
          *
        %dd= form.text_field :name, size: 55, required: true
        %dt
          = form.label :email
          *
        %dd= form.text_field :email, size: 55, type: 'email', required: true
        %dt= form.label :tel, type: 'tel'
        %dd= form.text_field :tel, size: 55
        %dt
          = form.label :text
          *
        %dd= form.text_area :text, size: "40x8", required: true
      .buttons= form.submit '送信する', class: 'button'
