!!! 5
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %meta{content: "小さな手作りパン工房、Coupé Baguette(クープ バゲット)のWebサイト。", name: "description"}
    %meta{content: "西脇市,パン,パン屋,Coupé Baguette,Coupe Baguette,クープ バゲット", name: "keywords"}
    %link{href: "/favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    %title
      - if content_for? :title
        = yield :title
        |
      Coupé Baguette クープ バゲット
    = stylesheet_link_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "https://html5shim.googlecode.com/svn/trunk/html5.js"
    = csrf_meta_tag
    = google_analytics(ENV["GOOGLE_ANALYTICS_CODE"])
  %body
    %header
      #header-sub
        #shop-copy 小さな手作りパン工房
        %nav
          %ul
            %li= link_to 'Concept', concept_path
            %li= link_to 'Menu', menu_path
            %li= link_to 'Shop Info', shop_info_path
            %li= link_to 'Contact', new_inquiry_path
            %li= link_to 'Blog', 'http://lapin418.exblog.jp'
            %li= fb_icon
      #header-main
        #logo
          %h1= link_to image_tag('cb_logo.png', alt: 'Coupé Baguette'), root_path
          #ruby -クープ バゲット-
    #content
      = content_for?(:content) ? yield(:content) : yield
    %footer
      #copyright
        %small Copyright &copy; Coupé Baguette All rights reserved.
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    :javascript
      #{content_for?(:inner_javascript) ? yield(:inner_javascript) : ""}
